

body {

	margin: 0;
	background-color: #222;
	font-family: "Open Sans";
animation: fadein 2s;

    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */

}



@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}




@keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}.chartjs-render-monitor{animation:chartjs-render-animation 1ms}.chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}.chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}.chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}


	canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}


h4 {

	margin: 0;
}


.data {
	width: 80%;
	margin: auto;
	margin-top: 25px;
	padding: 40px 20px;
	background-color: #fff;
	border-radius: 10px;
}

.main img {
    margin: -20px;
}

.main {
	width: 400px;
	margin: 0px auto;
	margin-top: 150px;
	padding: 70px;
	background-color: #fff;
	border-radius: 10px;
}

.main input {
	display: block;
	border: 2px solid #ccc;
	border-radius: 5px;
	background: #fff;
	padding: 20px;
	width: 300px;
	margin-bottom: 20px;
}

.main button {
	margin: auto;
	border: 2px;
	border-color: #46B974;
	background-color: #46B974;
	color: white;
	border-radius: 5px;
	padding: 15px;
	display: block;
	width: 60%;
	transition: 0.3s;
	font-size: 20px;
	font-weight: 700;
}

.main button:hover {

    color: #46B974;  
    background-color: #fff;
    border-radius: 5px;
    border-color: #46B974;
    cursor: pointer;
}

.topnav button {
    float:right;
    padding: 9px 20px;
    margin: 20px;
	border: 2px;
	border-color: #46B974;
	background-color: #46B974;
	color: white;
	border-radius: 5px;
	padding: 5px;
	display: block;
	width: 100px;
	transition: 0.3s;
	font-size: 15px;
	font-weight: 700;
}

.topnav button:hover {

    color: #46B974;  
    background-color: #fff;
    border-radius: 5px;
    border-color: #46B974;
    cursor: pointer;
}



.topnav {
  overflow: hidden;
  background-color: #fff;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav img{
  width:400px;
}

.options {
  padding: 5px;
  background-color: #EAECEC;
  height: auto; 
}
.comparisons {
  padding: 5px;
  background-color: #EAECEC;
  width: 1000px;
  height: auto;
    margin: auto;

}
.comparison1 {
border: 1px solid #b0b0b0;
margin-left: 100px;
  padding: 25px;
  height: auto;
  background-color: #fff;
      width: 750px;
 position: relative;
      z-index: 5 !important;

  -webkit-transition:all .5s ease-out;
  -moz-transition:all .5s ease-out;
  -ms-transition:all .5s ease-out;
  -o-transition:all .5s ease-out;
  transition:all .5s ease-out;
   
}

.comparison2 {
  border: 1px solid #b0b0b0;
  padding: 25px;
  background-color: #fff;
  width: 350px;
  position: absolute;
  display:none;
    height: auto;
    z-index: 0;

}
#toggle_data {
border: 1px solid #b0b0b0;
  padding: 25px;
  background-color: #fff;
  width: 50px;
  z-index: 5;

  display: block;

   position: relative;



  -webkit-transition:all .5s ease-out;
  -moz-transition:all .5s ease-out;
  -ms-transition:all .5s ease-out;
  -o-transition:all .5s ease-out;
  transition:all .5s ease-out;

}



#toggle_add {
border: 1px solid #b0b0b0;
  padding: 25px;
  background-color: #fff;


  margin-left: 230.5px;
  display: block;
  z-index: 0;
   position: absolute;



  -webkit-transition:all .5s ease-out;
  -moz-transition:all .5s ease-out;
  -ms-transition:all .5s ease-out;
  -o-transition:all .5s ease-out;
  transition:all .5s ease-out;

}


#cat, #int {
  width: 100px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}

.flex-container {
  z-index: 0;
  display: flex;
  flex-wrap: nowrap;
    width: 100px;
  margin: 10px;
  text-align: center;

}

#comp1{
z-index: 5;
}

#comp2{
  z-index: 0;
  display:none;

}




.dot1 {
  height: 25px;
  width: 25px;
  background-color: #46B974;
  border-radius: 50%;
  display: inline-block;
}

.dot2 {
  height: 25px;
  width: 25px;
  background-color: #ff5566;
  border-radius: 50%;
  display: inline-block;
}


#above {
  height: 20px;
  margin-left: 325px;
  z-index: 0;
}

#plus {

  position: absolute;
  z-index: 0;
  background-color: white;
  height: auto;
  border: 0px;
}


.fa-plus {
  z-index: 0;

  color: #404040;
}


#submit {
	margin: auto;
	border: 2px;
	border-color: #46B974;
	background-color: #46B974;
	color: white;
	border-radius: 5px;
	padding: 10px;
	display: block;
	width: 20%;
	transition: 0.3s;
	font-size: 15px;
	font-weight: 700;
}

#submit:hover {

  color: #46B974;  
  background-color: #fff;
  border-radius: 5px;
  border-color: #46B974;
  cursor: pointer;
}



#dropdown {
  float:left;
 

}

#footer {
  clear: both;			
}